<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarX || Buy and Sell Cars</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/enigmatr/image/upload/v1642992551/29052021-01_generated_qvcfmi.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-white border-bottom box-shadow mb-5">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://res.cloudinary.com/enigmatr/image/upload/v1642992551/29052021-01_generated_qvcfmi.jpg" alt="CarX Logo" style="width:50px;height:50px;border-radius:50%;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                @{
                                    var photo = User.Claims.FirstOrDefault(x => x.Type.ToLower() == "photo")?.Value;
                                }

                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index"><img src="@photo" style="border-radius:50%;width:30px;height:30px;background:black;" /></a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                                </li>
                            }
                            else
                            {
                                if (User.IsInRole("admin"))
                                {
                                    <li class="dropdown">
                                        <button class="text-white font-weight-bold btn dropdown-toggle" type="button" data-toggle="dropdown" style="text-transform:uppercase;">
                                            Admin
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="background:#1861ac;">
                                            <li class="text-white nav-item" style="padding-left:5px;"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Users</a></li>
                                            <li class="text-white nav-item" style="padding-left:5px;"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Cars">Cars</a></li>
                                            <li class="text-white nav-item" style="padding-left:5px;"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="About">About</a></li>
                                            <li class="text-white nav-item" style="padding-left:5px;"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Services">Services</a></li>
                                            <li class="text-white nav-item" style="padding-left:5px;"><a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Contact">Contact</a></li>
                                        </ul>
                                    </li>
                                    
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-white d-flex p-2 m-0 row">
        <div class="col-md-5">
            &copy; 2022 - CarX - <a asp-area="" asp-controller="Home" class="text-white" asp-action="Privacy">Privacy</a>
        </div>  
        <div class="d-flex justify-content-around col-md-7" style="font-size: 30px;">
            <a href="https://www.facebook.com/toba.ojo1" class="text-white"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/toba-ojo-13439490" class="text-white"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/ojotobar" class="text-white"><i class="fab fa-instagram"></i></a>
            <a href=" https://wa.me/2348035222858" class="text-white"><i class="fab fa-whatsapp"></i></a>
        </div>        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
