@model List<CarX.Models.About>
<section class="about py-5">
    <div class="container py-5"  >
        <div class="row">
            @foreach (var about in Model)
            {
                <div class="col-lg-5">
                    <img src="@about.ImgUrl" class="img-fluid" alt="car" />
                </div>

                <div class="col-lg-7 pt-3">
                    <h1>About Us</h1>
                    <p class="text-muted font-weight-bold" style="text-transform:capitalize;">@about.Title</p>
                    <p class="py-1">@about.Details</p>
                </div>
            }
        </div>
    </div>
</section>