@model IEnumerable<CarX.Models.Service>

<section class="fa-services py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center pb-5">Services</h1>

        <div class="row pb-3 d-flex justify-content-center">
            @if (Model.Count() > 0)
            {
                foreach (var service in Model)
                {
                    <div class="col-lg-4 mb-3">
                        <div class="card text-center py-3">
                            <div class="card-body">
                                <div class="circle">
                                    <span><i class="fas fa-cogs"></i></span>
                                </div>
                                <h4 class="font-weight-bold pb-2">@service.Title</h4>
                                <p>@service.Details</p>
                            </div>
                        </div>
                    </div>


                }

            }
            else
            {
                <p>Nothing to show here.!</p>
            }
        </div>
    </div>
</section>