@model CarX.Data.Dto.AddCarDto 

<form method="post" asp-action="AddCar" enctype="multipart/form-data">
    <div class="border p-3">
        
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Car</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                @* Keep empty *@
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Make"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Make" class="form-control" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="CarModel"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="CarModel" class="form-control" />
                        <span asp-validation-for="CarModel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Year"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Trim"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Trim" class="form-control" />
                        <span asp-validation-for="Trim" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Engine"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Engine" class="form-control" />
                        <span asp-validation-for="Engine" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Mileage"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Mileage" class="form-control" />
                        <span asp-validation-for="Mileage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Color"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Color" class="form-control" />
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Interior"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Interior" class="form-control" />
                        <span asp-validation-for="Interior" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Transmission"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Transmission" class="form-control" />
                        <span asp-validation-for="Transmission" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="DriveTrain"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="DriveTrain" class="form-control" />
                        <span asp-validation-for="DriveTrain" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Vin"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Vin" class="form-control" />
                        <span asp-validation-for="Vin" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Image"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 mb-1">
                        <input type="submit" name="submit" value="Add" class="btn btn-info w-100" />
                    </div>
                    <div class="col-md-6 mb-1">
                        <a asp-action="Cars" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @* Keep empty *@
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
